@use "../utils/variables" as v;
@use "../utils/mixins" as m;

* {
	font-family: Coves;
}
#root {
	@include m.flex(space-between, $direction: column, $align: center);
	@include m.size(100%, auto);
}

main {
	@include m.size(100%, 100%);
}
section {
	@include m.size(100%, 100vh);
	&:nth-child(even) {
		background-color: v.$primary-color;
		& > * {
			color: white;
		}
	}
}

h2 {
	@include m.flex(center);
	padding-top: 100px;
	font-size: 40px;
}
