@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.header {
	@include m.size(100%, 60px);
	&__nav {
		@include m.size(100%, 100%);
		@include m.flex(flex-end);

		&__list {
			@include m.size(100%, 100%);
			@include m.flex(space-around, center);
			&__item {
				@include m.font($size: 18px);
				@include m.flex(center, center);
				& > a {
					@include m.size(100px);
					color: black;
				}
				& > .active {
					color: #7510f7;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.header__nav__list.--closed {
		display: none;
	}
}
