@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.footer {
	@include m.size(100%, 200px);
	@include m.flex(center, center, $gap: 10%);
	background-color: v.$primary-color;
	&__content {
		@include m.flex(space-between);
		@include m.size(70%);
	}
	&__button {
		@include m.flex(center, center, column);
		color: white;
		width: 80px;
		height: 80px;
		border: none;
		border-radius: 15px;
		background: linear-gradient(145deg, #690ede, #7d11ff);
		box-shadow: 5px 5px 14px #550cb4, -5px -5px 14px #9514ff;
		font-size: 20px;
		transition: width 0.4s ease-in-out;
		cursor: pointer;
		&:hover {
			width: 200px;
			border-radius: 15px;
			background: #7510f7;
			box-shadow: inset 5px 5px 14px #550cb4, inset -5px -5px 14px #9514ff;
			& > svg {
				display: none;
			}
			& > .footer__button__text {
				width: 200px;
				height: 100px;
			}
		}
		&__text {
			@include m.flex(center, center);
			width: 0;
			height: 0;
			overflow: hidden;
			font-size: 18px;
			transition: width 0.4s ease-in-out;
			white-space: nowrap; //Espace insécable
		}
	}
}

@media (max-width: 768px) {
	.footer {
		&__button {
			font-size: 14px;
			width: 56px;
			height: 56px;
			&__text {
				font-size: 14px;
			}
		}
	}
}
