@use "../utils/variables" as v;
@use "../utils/mixins" as m;

.header {
	@include m.position(fixed);
	@include m.size(100%, 60px);
	background-color: white;
	z-index: 2;
	&__nav {
		@include m.size(100%, 100%);
		@include m.flex(center);

		&__list {
			@include m.size(70%, 100%);
			@include m.flex(space-between, center);
			&__item {
				height: 100%;
				@include m.font($size: 20px);
				@include m.flex(center, center);
				& > a {
					@include m.flex(center, center);

					height: 100%;
					color: black;
					z-index: 2;
				}
				& > .active {
					color: #7510f7;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.header__nav__list.--closed {
		display: none;
	}
}
